body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
}

header {
  text-align: center;
  color: white;
  font-size: 2.5rem; /* Increased font size */
}

/* ------------------------------Restart button */

.btn-container {
  text-align: center;
}

.restart-btn {
  color: white;
  background-color: transparent;
  border-radius: 12px;
  padding: 1rem 2rem; /* Increased padding */
  font-weight: bold;
  font-size: 1.5rem; /* Increased font size */
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* ------------------------------Score board */

.score-board {
  margin: 10% auto 5%;
  text-align: center;
  color: white;
  border: 3px solid white;
  width: 80%; /* Changed to relative unit */
  font-size: 4rem; /* Increased font size */
  padding: 2rem; /* Increased padding */
  position: relative;
}

.badge {
  background: #c112a0;
  font-size: 2.5rem; /* Increased font size */
  padding: 1rem 2rem; /* Increased padding */
  border-radius: 12px;
}

#user-badge {
  position: absolute;
  top: 20px;
  left: -50px;
}

#cpu-badge {
  position: absolute;
  top: 20px;
  right: -65px;
}

/* ------------------------------Player choices */

.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Added flex-wrap */
}

.choices .choice {
  cursor: pointer;
  border: 3px solid #531345;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
  margin-right: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease;
  width: 120px; /* Added width */
  height: 120px; /* Added height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices .choice:hover {
  cursor: pointer;
  background: #531345;
}

.choices .choice img {
  width: 80px; /* Reduced width */
  height: 80px; /* Reduced height */
}

h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem; /* Increased font size */
}

/* Added responsive design styles */

@media only screen and (max-width: 768px) {
  .score-board {
    width: 90%; /* Increased width */
    font-size: 3rem; /* Reduced font size */
  }
  
  .choices {
    flex-direction: column; /* Changed flex direction */
  }
  
  .choices .choice {
    margin-bottom: 20px; /* Added margin */
  }
}
