:root {
  --primary-color: white;
  --secondary-color: black;
  --accent-color: #c112a0;
  --choice-bg: rgba(255, 255, 255, 0.3);
  --choice-hover-bg: #531345;
  --border-color: #531345;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
  color: var(--primary-color);
}

header {
  text-align: center;
  font-size: 2.5rem;
}

.btn-container {
  text-align: center;
}

.restart-btn {
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 12px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.score-board {
  margin: 5% auto;
  text-align: center;
  border: 3px solid var(--primary-color);
  width: 80%;
  font-size: 4rem;
  padding: 2rem;
  position: relative;
}

.badge {
  background: var(--accent-color);
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 12px;
}

#user-badge {
  position: absolute;
  top: 20px;
  left: -50px;
}

#cpu-badge {
  position: absolute;
  top: 20px;
  right: -65px;
}

.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.choices .choice {
  cursor: pointer;
  border: 3px solid var(--border-color);
  background-color: var(--choice-bg);
  border-radius: 50%;
  margin: 0 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices .choice:hover {
  background: var(--choice-hover-bg);
}

.choices .choice img {
  width: 100px;
  height: 100px;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3A3D41;
    color: #39FF14;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    border-top: 2px solid #39FF14;
    display: none;
}

.cookie-banner button {
    background-color: #8F0A1A;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #39FF14;
}

.cookie-banner button:hover {
    background-color: #C50A64;
}

@media only screen and (max-width: 768px) {
  .score-board {
    width: 90%;
    font-size: 3rem;
  }
  
  .choices {
    flex-direction: column;
    align-items: center;
  }
  
  .choices .choice {
    margin-bottom: 20px;
  }
}
